<div class="container mt-5 mb-4">
  <div class="text-center">
   <h1>本当に退会しますか？</h1>
    <p>
      退会すると、会員登録情報や<br>
      これまでの投稿履歴が閲覧できなくなります。<br>
      退会する場合は、「退会する」をクリックしてください。
    </p>
  </div>


   <div class="row mt-5">
   <span class= "col-3 offset-4"><%= link_to "退会しない", mypage_path, :class => "btn btn-outline-success" %></span>

    <%= link_to "退会する", customers_withdraw_path, method: :patch, :class => "btn btn-outline-danger", data: { confirm: "本当に退会しますか？" }  %>

  </div>

</div>