<div class="container">
  <% if @customers.exists? %>
    <div class="container">
      <h2 class="m-5 text-center">"<%= @customer.name %>"さんのいいねした投稿一覧</h2>
      <div><%= render "public/posts/index", posts: @favorite_posts, post_page: @post_page %></div>
    </div>
  <% else %>
    <h2 class="text-center mt-5">いいねした投稿はありません</h2>
  <% end %>
</div>