<div class="container my-5">
  <h1 class="m-3 text-center mt-5 text-white" style="font-family: 'Georgia' ">Groups</h1>

  <% if current_customer && current_customer.guest_customer? %>
    <p class="text-center text-white my-5"><strong>利用するには新規登録・ログインして下さい</strong></p>
  <% elsif @groups.any? %>

  <div class="back-list">

    <div class="text-center my-3">
    <% if admin_signed_in? %>
    <% else %>
      <%= link_to new_group_path, class: "btn btn-outline-success" do %>
      <i class="fa-solid fa-square-plus"></i> グループを作成する
      <% end %>
    <% end %>
    </div>

  <%= render "index", groups: @groups, group_page: @group_page %>
  </div>

  <% else %>

    <p class="text-center text-white my-5">グループはありません</p>

    <div class="text-center">
      <%= link_to new_group_path, class: "btn btn-outline-success" do %>
      <i class="fa-solid fa-square-plus"></i> グループを作成する
      <% end %>
    </div>

  <% end %>
</div>