<div class="container">
  <div class="m-3 sel sel--black-panther">
   <%= render "layouts/tag_search", post: @posts %>
  </div>
   <%= render "public/posts/index", posts: @post, post_page: @post %>
</div>