<div class="container">
  <h2 class="m-3 text-center">Follower Users</h2>
  <% if @customers.exists? %>
    <div><%= render "public/customers/list", customers: @customers, customer_page: @page %></div>
  <% else %>
    <p class="text-center">ユーザーはいません</p>
  <% end %>
</div>