<div>
  <%= link_to :back do %>
    <i class="fa-solid fa-arrow-left fa-xl" style="color: #000;"></i>
  <% end %>
</div>
<div class="container mt-3">

  <h3 class="font-weight-bold mb-4">会員一覧</h3>

  <div class="row">
    <%= render "index", customers: @customers %>
  </div>
</div>