<div class="container my-5">
 <div class="back-list">
  <h3 class="font-weight-bold my-4 text-center">会員一覧</h3>

  <div class="row">
    <%= render "index", customers: @customers, customer_page: @customers %>
  </div>
 </div>
</div>