* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// ヘッダー・ナビゲーションバー
.header-nav {
 background-color: 	#99CC66;
 position: relative;
}

.social {
  position: absolute;
  right: 50px;
}

// ロゴ
.logo {
  height: 80px;
}

// ナビゲーションバー
.nav-item {
 color: #009900;
}

li+ li {
  border-left: 1px solid #333;
}

// フッター用

.footerFixed{
  min-height: 100vh; /* ←コンテンツの高さの最小値＝ブラウザの高さに指定 */
  display: flex;
  flex-direction: column;
}

footer{
  margin-top: auto;
}

.footer04 {
 width: 100vw;
 color: #CCCC66;
 background: #999966;
 text-align: center;
 // padding-bottom: 10px;
}
.footer04 a {
 color:	#CCCC66;
 text-decoration: none;
}
.footer04 a:hover {
 text-decoration: underline;
}

.footer04 .copyright {
 margin: 0;
 padding: 15px 0;
}

// 投稿ボタン
.post-button {
  display       : inline-block;
  border-radius : 5%;          /* 角丸       */
  font-size     : 16pt;        /* 文字サイズ */
  text-align    : center;      /* 文字位置   */
  cursor        : pointer;     /* カーソル   */
  padding       : 1px 30px;   /* 余白       */
  background    : rgba(89, 179, 0, 0.37);     /* 背景色     */
  color         : #006600;     /* 文字色     */
  line-height   : 1em;         /* 1行の高さ  */
  transition    : .3s;         /* なめらか変化 */
  border        : 2px solid rgba(89, 179, 0, 0.37);    /* 枠の指定 */
}
.post-button:hover {
  color         : rgba(89, 179, 0, 0.37);     /* 背景色     */
  background    : #006600;     /* 文字色     */
}

// ファイルを選択
input[type="file"] {
    display: none;
}

.wrapper {
  margin: 310px;
}

.form-signin {
  width: 500px;
  max-width: 500px;
  padding: 30px 38px 66px;
  background-color: #eee;
  border: 3px dotted rgba(0,0,0,0.1);
}

.form-signin-heading {
  text-align:center;
  margin-bottom: 30px;
}

.form-control {
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
}

input[type="text"],
input[type="email"] {
  margin-bottom: 10px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

input[type="password"] {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.colorgraph {
  height: 7px;
  border-top: 0;
  background: #c4e17f;
  border-radius: 5px;
  background-image: -webkit-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: -moz-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: -o-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: linear-gradient(to right, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
}