* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: ヒラギノ角ゴ ProN W6;
}

// ヘッダー・ナビゲーションバー
.header-nav {
 background-color: 	#99CC66;
 position: relative;
 height: 135px;
}

.header-current {
  position: absolute;
  height: 80px;
  left: 280px;
}

.social {
  position: absolute;
  right: 50px;
  top: 3px;
}

// ロゴ
.logo {
  position: absolute;
  height: 80px;
  left: 740px;
  top: 2px;
}

// ナビゲーションバー
.nav-item {
 color: #009900;
}

li+ li {
  border-left: 1px solid #333;
}

// フッター用

.footerFixed{
  min-height: 100vh; /* ←コンテンツの高さの最小値＝ブラウザの高さに指定 */
  display: flex;
  flex-direction: column;
}

footer{
  width: 100%;
  margin-top: auto;
}

.footer04 {
 color: #CCCC66;
 background: #999966;
 text-align: center;
 // padding-bottom: 10px;
}
.footer04 a {
 color:	#CCCC66;
 text-decoration: none;
}
.footer04 a:hover {
 text-decoration: underline;
}

.footer04 .copyright {
 margin: 0;
 padding: 15px 0;
}

// 戻るボタン
.back-button {
  position: absolute;
  left: 100px;
  top: 30px;
}

// 通知ボタン
.bell-icon {
  position: absolute;
  right: 290px;
  top: 15px;
  font-size: 1.5em;
}

// 投稿リストスタイル
.list-style {
  border: 5px solid #C0C0C0;
  background-color: rgba( 255,255,255,0.8);
}

// ユーザー詳細画面・マイページ
.back-list {
  border: 5px solid #000;
  border-radius: 25px;
  background-color: rgba( 255,255,255,0.7);
}

// 投稿詳細ページのユーザー
.show-info {
  width: 18rem;
  border-radius: 27px;
}

.info-follow {
  background-color: rgba( 255,255,255,0);
}

// 投稿詳細ページの投稿
.show-list {
  width: 18rem;
  border-radius: 27px;
}


// 投稿ボタン
.post-button {
  display       : inline-block;
  border-radius : 5%;
  font-size     : 16pt;
  text-align    : center;
  cursor        : pointer;
  padding       : 1px 30px;
  background    : rgba(89, 179, 0, 0.37);
  color         : #006600;
  line-height   : 1em;
  transition    : .3s;
  border        : 2px solid rgba(89, 179, 0, 0.37);
}
.post-button:hover {
  color         : rgba(89, 179, 0, 0.37);
  background    : #006600;
}

// ファイルを選択
.hidden {
    display: none;
}

.wrapper {
  margin: 310px;
}

.form-signin {
  width: 500px;
  max-width: 500px;
  padding: 30px 38px 66px;
  background-color: #eee;
  border: 3px dotted rgba(0,0,0,0.1);
}

.form-signin-heading {
  text-align:center;
  margin-bottom: 30px;
}

.form-control {
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
}

input[type="text"],
input[type="email"] {
  margin-bottom: 10px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

input[type="password"] {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.colorgraph {
  height: 7px;
  border-top: 0;
  background: #c4e17f;
  border-radius: 5px;
  background-image: -webkit-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: -moz-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: -o-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: linear-gradient(to right, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
}

.card-list {
  width: 26rem;
  height: 30rem;
}

// ユーザー編集ボタン
.user-edit {
  border: 1px solid #008800;
  border-radius: 3px;
  padding: 1px 3px 0;
  text-decoration: none;
  color: #008800;
}

a.user-edit:hover {
  background: #008800;
  background-color: #fff!important;
  border-color: #008800;
  opacity: 1!important;
}
.user-edit::after {
  content:"編集";
}


// いいね機能
.gud_red {
  color:#e54747 !important;
}
.gud_blue{
  color:#000 !important;
}

.like-link{
  text-decoration: none;
  color: #000;
}

.like-link:hover {
  background-color: rgba( 255,255,255,0);
}

.post-image {
  border-radius: 25px;
}

.info-image {
  border-radius: 50px;
  width: 80px;
  height: 80px;
}

// コメント投稿画面

.post_comment_input {
  border-radius: 10px;
}

.post_button {
  display       : inline-block;
  border-radius : 10%;
  font-size     : 18pt;
  text-align    : center;
  cursor        : pointer;
  padding       : 7px 29px;
  background    : #4da6ff;
  color         : #ffffff;
  line-height   : 1em;
  transition    : .3s;
  box-shadow    : 3px 3px 7px #666666;
  border        : 2px solid #4da6ff;
}

.post_button:hover {
  box-shadow    : none;
  color         : #4da6ff;
  background    : #ffffff;
}

// 返信コメント投稿画面

.post_comment_button {
  display       : inline-block;
  border-radius : 43%;
  font-size     : 12pt;
  text-align    : center;
  cursor        : pointer;
  padding       : 7px 10px;
  background    : #59b300;
  color         : #ffffff;
  line-height   : 1em;
  transition    : .3s;
  box-shadow    : 3px 3px 7px #666666;
  border        : 2px solid #59b300;
}
.post_comment_button:hover {
  box-shadow    : none;
  color         : #59b300;
  background    : #ffffff;
}

.post_comment_reply {
  border-radius: 10px;
  height: 100px;
}

// コメント欄


.balloon5 {
  margin: 1.5em 0;
  overflow: hidden;
}

.balloon5 .faceicon {
  float: left;
  margin-right: -90px;
}

.balloon5 .faceicon img{
  border: solid 3px #d7ebfe;
  border-radius: 50%;
}

.balloon5 .chatting {
  width: 100%;
}

.says {
  display: inline-block;
  position: relative;
  margin: 5px 0 0 105px;
  padding: 17px 13px;
  border-radius: 12px;
  background: #d7ebfe;
  font-size: 13px; /* テキストのフォントサイズを調整 */
  line-height: 1.4; /* テキストの行間を調整 */
  max-width: 200px;
}

.comment-user {
  white-space: pre-wrap;
}

.says:after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 18px;
  left: -24px;
  border: 12px solid transparent;
  border-right: 12px solid #d7ebfe;
}

.says p {
  margin: 0;
  padding: 0;
}

.comment-delete {
  border: 1px solid #aaa;
  border-radius: 3px;
  padding: 1px 3px 0;
  text-decoration: none;
  color: #BB0000;
}
a.comment-delete:hover {
  background: tomato;
  background-color: rgba( 255,255,255,0);
  border-color: tomato;
  opacity: 0.8!important;
}
.comment-delete::after {
  content:"削除";
}
.deleted-comment {
  opacity: .6;
}

.comment-reply-button {
  border: 1px solid #fff;
  border-radius: 3px;
  padding: 1px 3px 0;
  text-decoration: none;
  color: #00CC00;
}

a.comment-reply-button {
  background: #99CC33;
  background-color: rgba( 255,255,255,0);
  border-color: #99CC33;
  opacity: 0.8!important;
}
.comment-reply-button::after {
  content:"返信";
}


.comment-option {
  font-size: 10px;
  padding-left: 120px;
}

// コメント返信

.reply-index {
  margin: 10px;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
}

.reply-balloon5 {
  display: flex;
  width: 335px;
  padding: 1.1em 10px;
  overflow: hidden;
}

.reply-balloon5 .faceicon {
  float: left;
  margin-right: -100px;
  font-size: 10px;
}

.reply-balloon5 .faceicon img{
  border: solid 3px #99CC99;
  border-radius: 50%;
}

.reply-balloon5 .chatting {
  width: 100%;
}

.reply-says {
  display: inline-block;
  position: relative;
  margin: -13px 0 0 0px;
  padding: 11px 10px;
  border-radius: 12px;
  background: #99CC99;
  font-size: 10px; /* テキストのフォントサイズを調整 */
  line-height: 1; /* テキストの行間を調整 */
  max-width: 200px;
  left: 95%;
  transform: translateX(-100%);
}

.reply-comment-user {
  white-space: pre-wrap;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.reply-says:before {
  content: "";
  position: absolute;
  top: 23px;
  right: -19px;
  border: 8px solid transparent;
  border-left: 18px solid #99CC99;
  -webkit-transform: rotate(-35deg);
  transform: rotate(30deg);
}

.reply-says p {
  margin: 0;
  padding: 0;
}

.reply-comment-delete {
  border: 1px solid #aaa;
  border-radius: 3px;
  padding: 1px 3px 0;
  text-decoration: none;
  color: #BB0000;
}
a.reply-comment-delete:hover {
  background: tomato;
  background-color: rgba( 255,255,255,0);
  border-color: tomato;
  opacity: 0.8!important;
}
.reply-comment-delete::after {
  content:"削除";
}
.deleted-comment {
  opacity: .6;
}

.reply-comment-option {
  font-size: 10px;
  padding-left: 50px;
  padding-right: 55px;
}

// 投稿コメント一覧
.comment-index {
  border-radius: 15px;
  border: 5px solid #C0C0C0;
  background-color: rgba( 255,255,255,0.8);
}
.scroll-contents {
  margin-right: 10px;
  width: 100%;
  height: 665px;
  max-height: 800px;
  overflow-y: scroll;
}

// 投稿テキスト
.textOverflow {
	overflow: hidden;
	line-height: 1.0;
	white-space: nowrap;

  /* 幅を指定しないとテキストの長さによって要素の幅が変わるため指定 */
  width: 120px;

  /* オーバーしたテキストを３点リーダーにする */
  text-overflow: ellipsis;
  -webkit-text-overflow: ellipsis;
	-o-text-overflow: ellipsis;
}

.post-detail {
  font-size: 14px;
  border: 2px double #000;
  border-radius: 10px;
  padding: 5px;
}

@media screen and (max-width: 425px) {

  .footerFixed {
    height: 115rem;
    width: 58rem;
    max-height: 115rem;
    max-width: 60rem;
  }

  .header-nav {
    height: 155px;
  }

  .header-nav,
  .footer04 {
    width: 925px;
    max-width: 925px;
  }

  .header-current {
    position: absolute;
    height: 80px;
    left: 130px;
  }

  .social {
    position: absolute;
    right: 50px;
    top: 3px;
  }

  // ロゴ
  .logo {
    position: absolute;
    height: 80px;
    left: 345px;
    top: 2px;
  }

  .back-button {
    position: absolute;
    left: 33px;
    top: 25px;
    font-size: 24px;
  }

  .bell-icon {
    position: absolute;
    right: 260px;
    top: 2px;
    font-size: 2.5em;
  }

  .wrapper {
    margin: 185px;
  }

  .show-list {
    width: 50rem;
  }

  .show-info {
    width: auto;
    margin-bottom: 80px;
  }

  .balloon5 {
    margin: 1.5em 70px;
  }

  .reply-balloon5 {
    display: -webkit-inline-box;
    max-width: 796px;
    width: 796px;
  }

  .reply-comment-option {
    padding-left: 400px;
  }


}