
<div class="container mt-5 mx-auto">
  <h2 class="text-center text-white"><strong>通知一覧</strong></h2>
  <% if @notifications.present? %>
    <div class="text-center">
      <%= link_to "全削除",notifications_path(@notifications), method: :delete,class: "btn btn-light" %>
    </div>
    <% @notifications.each do |notification| %>
    <div data-simplebar>
      <%= render "#{notification.action_type}", notification: notification %>
    </div>
    <% end %>
  <% else %>
    <p class="text-center text-white">通知はありません</p>
  <% end %>
</div>