<div class="footer04 d-flex flex-nowrap justify-content-center align-items-center">
    <%= link_to new_admin_session_path, class: "text-reset btn text-decoration-none" do %>
      <i class="fa-solid fa-user-shield"></i>
    <% end %>
  <p class="copyright">
    &copy; My Carlife
  </p>
</div>