<div class="d-flex justify-content-center">
  <%= form_with url: posts_path, method: :get, local: true, class: 'boards__searchForm' do |f|%>
      <%= select_tag :tag_id,
        options_for_select(@tags_with_counts.map { |tag| ["#{tag.name} (#{tag.posts_count})", tag.id] }, @selected_tag_id),
          {
            prompt: "タグで絞り込み検索",
            onchange: "submit(this.form);"

          }
      %>
  <% end %>
</div>