<div class="col-md-12 text-center mt-5">
  <h5 class="mx-auto mt-5"><strong>　タグで検索はこちら</strong></h5>
  <%= form_with url: posts_path, method: :get, local: true, class: 'boards__searchForm cp_ipselect cp_sl04' do |f|%>
      <%= select_tag :tag_id,
        options_from_collection_for_select(Tag.all, :id, :name, params[:tag_id]),
          {
            prompt: "タグで絞り込み検索",
            onchange: "submit(this.form);"
          }
      %>
  <% end %>
</div>